body {
  margin: 0;
  font-family: Figtree;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-bg-color: #333;
  --secondary-bg-color: #FFFEF9;
  --tertiary-bg-color:#F6F6FA;
  --fourth-bg-color:white;
  --primary-grad-color:  #36097F;
  --secondary-grad-color: #272847;
  --main-text-color: white
}

